@using RIK_HomeWork.Models;

<script type="text/javascript">
    function submitForm(id) {
        $.ajax({
            method: "DELETE",
            url: "api/YritusApi/" + id,
            success: location.reload()
        });
    }</script>
<div class="page-header">
    <h1>Osavõtjad</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel">Ürituse nimi: @ViewBag.Yritus[0].Yritus_nimi</div>
        <div class="panel">Toimumisaeg: @ViewBag.Yritus[0].Kuupaev.ToString("dd.MM.yyyy")</div>
        <div class="panel">Koht:  @ViewBag.Yritus[0].Asukoht</div>
    </div>
</div>
        @*<table class="table">
            @foreach (Yritus yritus in ViewBag.Yritus)
            {
                if (yritus.Kuupaev > DateTime.Now)
                {
                    <tr>
                        <td>@yritus.Yritus_nimi</td>
                        <td>@yritus.Kuupaev.ToString("dd.MM.yyyy")</td>
                        <td>
                            <button type="button" class="close" aria-label="Close">
                                <span>@Html.ActionLink("Osavõtjad", "../LisaYritus")</span>
                            </button>
                        </td>
                        <td>
                            <button onclick="submitForm(@yritus.Id);" type="button" class="close" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </td>
                    </tr>
                }
            }
        </table>*@

