@using RIK_HomeWork.Models;


<div class="page-header">
    <h1>Osavõtjad</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel">Ürituse nimi: @ViewBag.Yritus[0].Yritus_nimi</div>
        <div class="panel">Toimumisaeg: @ViewBag.Yritus[0].Kuupaev.ToString("dd.MM.yyyy")</div>
        <div class="panel">Koht:  @ViewBag.Yritus[0].Asukoht</div>
        <div class="panel">
            Osalejad:
            <table class="table">
                @foreach (JurIsik jurisik in ViewBag.Jurisik)
                {
                <tr>
                    <td>@jurisik.Jurnimi</td>
                    <td>@jurisik.FirmaKood</td>
                    <td>
                        <button onclick="deleteJurIsik(@jurisik.Id);" type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </td>
                </tr>
                }
                @foreach (Eraisik eraisik in ViewBag.Eraisik)
                {
                <tr>
                    <td>@eraisik.Eesnimi  @eraisik.Perekonnanimi</td>
                    <td>@eraisik.Isikukood</td>
                    <td>
                        <button type="button" class="close" aria-label="Close">
                            <span>@Html.ActionLink("Osalise detailvaade", "../MuudaEraisik/Index/" + eraisik.Id)</span>
                        </button>
                    </td>
                    <td>
                        <button onclick="deleteEraisik(@eraisik.Id);" type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </td>
                </tr>
                }
            </table>
        </div>
    </div>
</div>

<input type="radio" id="shortForm" name="frm" onclick="toggle(true)" checked> Eraisik
<input type="radio" id="longForm" name="frm" onclick="toggle(false)"> Juriidiline isik

<form autocomplete="off" display="block" id="eraIsikForm">

    <div class="form-group">
        <label for="exampleFormControlInput1">Eesnimi</label>
        <input type="text" class="form-control" id="Eesnimi">
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">Perenimi</label>
        <input type="datetime" class="form-control" id="Perekonnanimi">
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">Isikukood</label>
        <input type="text" class="form-control" id="Isikukood">
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">Makseviis</label>
        <select id="jurMakseviis" class="custom-select">
            <option selected value="1">Sularaha</option>
            <option value="2">Pangaülekanne</option>
        </select>
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">Lisainfo</label>
        <input type="text" class="form-control" id="Lisainfo">
    </div>
    <button onclick="submitEraisik();" type="button" class="btn btn-primary">Lisa osaleja</button>
    <script>
        function submitEraisik() {
        {
            var json = {
                "Yritus_id": @ViewBag.Yritus[0].Id,
                "Eesnimi": $('#Eesnimi').val(),
                "Perekonnanimi": $('#Perekonnanimi').val(),
                "Isikukood": $('#Isikukood').val(),
                "Makseviis": $('#jurMakseviis').val(),
                "Lisainfo": $('#Lisainfo').val()
};
            console.log(json);
                $.ajax({
                async: true,
                method: "POST",
                url: window.location.origin +"/api/EraIsikApi",
                data: json,
                success: location.reload(true)
                });
        }
    }</script>
</form>

<form autocomplete="off" id="jurIsikForm"  style="display:none">

    <div class="form-group">
        <label for="exampleFormControlInput1">Juriidiline nimi</label>
        <input type="text" class="form-control" id="Jur_nimi">
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">Registri kood</label>
        <input type="datetime" class="form-control" id="Firmakood">
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">Makseviis</label>
        <select id="jurMakseviis" class="custom-select">
            <option selected value="1">Sularaha</option>
            <option value="2">Pangaülekanne</option>
        </select>
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">Lisainfo</label>
        <input type="text" class="form-control" id="Lisainfo">
    </div>
    <button onclick="submitJurisik();" type="button" class="btn btn-primary">Lisa osaleja</button>
    <script>    function submitJurisik() {
        {
            var json = {
                'Yritus_id': @ViewBag.Yritus[0].Id,
                'Jurnimi': $('#Jur_nimi').val(),
                'Firmakood': $('#Firmakood').val(),
                'Makseviis': $('#jurMakseviis').val(),
                'Lisainfo': $('#Lisainfo').val()
            };
            console.log(json);
            $.ajax({
                async: true,
                method: "POST",
                url: window.location.origin+"/api/JurIsikApi",
                data: json,
                success: location.reload(true)
            });
        }
    }</script>
</form>



<script type="text/javascript">
    function toggle(boolean) {
        var jurForm = document.getElementById("jurIsikForm");
        var eraForm = document.getElementById("eraIsikForm");
        if (boolean == true) {
            jurForm.style.display = "none";
            eraForm.style.display = null;
        } else {
            jurForm.style.display = null;
            eraForm.style.display = "none";
        }
    };
    function deleteJurIsik(id) {
        $.ajax({
            async: true,
            method: 'delete',
            url: window.location.origin + "/api/JurIsikApi/" + id,
            success: location.reload(true)
        });
    }
    function deleteEraisik(id) {
        $.ajax({
            async: true,
            method: 'delete',
            url: window.location.origin + "/api/EraIsikApi/"+id,
            success: location.reload(true)
        });
    }

</script>

