@using RIK_HomeWork.Models;

<script type="text/javascript">
    function submitForm(id) {
        $.ajax({
            method: "DELETE",
            url: "api/YritusApi/" + id,
            success: location.reload()
        });
    }</script>
<div class="page-header">
    <h1>Osavõtjad</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel">Ürituse nimi: @ViewBag.Yritus[0].Yritus_nimi</div>
        <div class="panel">Toimumisaeg: @ViewBag.Yritus[0].Kuupaev.ToString("dd.MM.yyyy")</div>
        <div class="panel">Koht:  @ViewBag.Yritus[0].Asukoht</div>
        <div class="panel">Osalejad: 
            <table class="table">
                    @foreach (JurIsik jurisik in ViewBag.Jurisik)
                    {
                            <tr>
                                <td>@jurisik.Jurnimi</td>
                                <td>@jurisik.FirmaKood</td>
                            </tr>
                    }
                    @foreach (Eraisik eraisik in ViewBag.Eraisik)
                    {
                            <tr>
                                <td>@eraisik.Eesnimi  @eraisik.Perekonnanimi</td>
                                <td>@eraisik.Isikukood</td>
                            </tr>
                    }
            </table>
        </div>        
    </div>
</div>

