@using RIK_HomeWork.Models;
<div class="page-header">
    <h1>Ürituste infosüsteem</h1>
    <p class="lead">Siin infosüsteemis näete olemasolevaid ja toiminud üritusi.</p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Tulevased üritused</h2>
        <table class="table">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nimi</th>
                <th scope="col">Kuupäev</th>
                <th scope="col">Asukoht</th>
                <th scope="col">Lisainfo</th>
            </tr>
            @foreach (Yritus yritus in ViewBag.Yritus)
            {
                if (yritus.Kuupaev > DateTime.Now)
                {
                <tr>
                    <td scope="row">@yritus.Id</td>
                    <td>@yritus.Yritus_nimi</td>
                    <td>@yritus.Kuupaev</td>
                    <td>@yritus.Asukoht</td>
                    <td>@yritus.Lisainfo</td>
                </tr>
                }
            }
        </table>
    </div>
    <div class="col-md-6">
        <h2>Toimunud üritused</h2>
        <table class="table">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nimi</th>
                <th scope="col">Kuupäev</th>
                <th scope="col">Asukoht</th>
                <th scope="col">Lisainfo</th>
            </tr>
            @foreach (Yritus yritus in ViewBag.Yritus)
            {
                if (yritus.Kuupaev < DateTime.Now)
                {
                    <tr>
                        <td scope="row">@yritus.Id</td>
                        <td>@yritus.Yritus_nimi</td>
                        <td>@yritus.Kuupaev</td>
                        <td>@yritus.Asukoht</td>
                        <td>@yritus.Lisainfo</td>
                    </tr>
                }
            }
        </table>
    </div>
</div>
